

head
	link(rel="stylesheet", type="text/css", href="css/pipeline.css")

	// JQuery
	script(src='/js/jquery.js')
	// Jquery module for autocomplete text fields
	script(src='/js/jquery.autocomplete.js')
	// CSV parser
	script(src='/js/papaparse.js')
	// Our own client side file manager
	script(src='/js/file_manager.js')
	// GUI updater
	script(src='/js/file_updater.js')

//p #{name}'s Pug source code!

body
	h1 Amplicon analysis pipeline

	div#configuration
		p Configuration
		button#down_conf Save
		button#up_conf Load
		input#up_conf_hidden(type='file', name='uploaded', hidden)

	h2 Files uploader

	div#uploader.module
		div#up_list.file_list
		form#up_form
			p Add files:
			input#up_files(type='file', name='uploaded' multiple)
			button#up_submit Upload
			div.progress
				div.progress-bar(role="progressbar")

	script(src='/js/upload.js')


	h2 Analysis

	div#modules
	



	select#module_list
	button#add_module Add module

	div#warnings
	div#start_area
		input(type='text', value='Your email address')#mail
		button#start Start analysis

	script(src='/js/module.js')

	// Main scripts
	script(src='/js/run_pipeline.js')
	script(src='/js/global.js')

