

head
	link(rel="stylesheet", type="text/css", href="css/pipeline.css")

	script(src='/js/jquery.js')
	script(src='/js/events.js')

//p #{name}'s Pug source code!

body
	h1 Amplicon analysis pipeline



	h2 Files uploader

	div#uploader.module
		div#up_list
		form#up_form
			p Add files:
			input#up_files(type='file', name='uploaded' multiple)
			button#up_submit Upload
			div.progress
				div.progress-bar(role="progressbar")

	script(src='/js/upload.js')


	h2 Analysis

	div#modules
	



	select#module_list
	button#add_module Add module

	button#start Start analysis

	// main scripts
	script(src='/js/run_pipeline.js')
	script(src='/js/module.js')

	// Module list
	script(src='/js/modules/pandaseq.js')

