

head
	link(rel="stylesheet", type="text/css", href="css/pipeline.css")

	script(src='/js/jquery.js')
	script(src='/js/events.js')

//p #{name}'s Pug source code!

body
	h1 Amplicon analysis pipeline

	div#modules

		h2 Files uploader

		div#uploader.module
			div#up_list
			form#up_form
				p Add files:
				input#up_files(type='file', name='uploaded' multiple)
				button#up_submit Upload
				div.progress
					div.progress-bar(role="progressbar")

		script(src='/js/upload.js')


		h2 Analysis

		div#joining.module
			h3 Paired end joining
			select.file_list#forward_reads
			select.file_list#reverse_reads
			input.output_file#out_panda

		script(src='/js/joining.js')



		div#clustering.module
			h3 OTU clustering

		div#assign.module
			h3 OTU assignations


	button#add_module Add a module

	button#start Start analysis

	script(src='/js/module.js')

