
/* Global style */
input[type="text"] {
    width: 400px;
}
textarea {
    width: 400px;
    height: 100px;
}

.module {
	border: black solid 1px;
	width: 100%;
	min-height: 100px;
	margin-bottom: 20px;
}


/* Upload module */

#up_list ul {
	list-style-type: none;
}

.download {
	width: 20px;
}

.module .download {
	visibility: hidden;
}

#up_list .download {
	visibility: visible;
}




/* Autocomplete style */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }






/* Status obects aspect */

.spinner {
	width:30px;
	visibility: hidden;
}
.status {
	visibility: hidden;
}

.running .spinner {
	visibility: visible;
}

/* See the status */
.running .status {
	visibility: visible;
	color: yellow
}
.ready .status {
	color: blue;
	visibility: visible;
}
.ended .status {
	color: green;
	visibility: visible;
}

/* Show the downoad links when the soft is ended */
.module.ended .download {
	visibility: visible;
}
