
* {
	text-align: center;
}

/* ------------------------ Global style ------------------------ */
input[type="text"] {
    width: 400px;
}

#start {
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 150px;
}

/* ------------------------ General Module ------------------------ */

.module {
	border: black solid 1px;
	width: 600px;
	min-height: 100px;
	margin: auto;
	margin-bottom: 20px;
	text-align: left;
}

.mod_head * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

input[type="text"].integer {
	width: 50px;
}

.info {
	width: 25px;
}


/* ------------------------ Upload module ------------------------ */

#up_list {
	border: none;
}

#up_list ul {
	list-style-type: none;
}

.download {
	width: 20px;
}

.module .download {
	visibility: hidden;
	width: 0px;
}

#up_list .download {
	visibility: visible;
	width: 20px;
}




/* ------------------------ Autocomplete style ------------------------ */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }






/* ------------------------ Status obects aspect ------------------------ */

.spinner {
	width:0px;
	visibility: hidden;
}
.status {
	visibility: hidden;
	width: 0px;
}

.running .spinner {
	visibility: visible;
	width: 30px;
}

/* See the status */
.running .status {
	color: yellow;
	visibility: visible;
	width: auto;
}
.waiting .status, .ready .status {
	color: blue;
	visibility: visible;
	width: auto;
}
.ended .status {
	color: green;
	visibility: visible;
	width: auto;
}
.aborted .status, .errors .status {
	color: red;
	visibility: visible;
	width: auto;
}

/* Show the downoad links when the soft is ended */
.module.ended .download, .module.errors .download {
	visibility: visible;
	width: 20px;
}





/* ------------------------ File lists ---------------------------- */

.file_list {
	height: 200px;
	overflow: auto;
	border: solid black 1px;
	margin-right: 50px;
	margin-left: 50px;
}

.file_list p {
	margin: 0px;
}