
* {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* comment */

#slim_logo {
	width: 250px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

body {
	background-color: #f5f5f5;
}

/* ------------------------ Global style ------------------------ */
input[type="text"] {
	width: 400px;
}

.no_vertical_margins {
	margin-bottom: 0px;
	margin-top: 0px;
}

select {
	text-align: left;
}

#main_frame {
	width: 600px;
	margin: auto;
}

/* ------------------------ Configuration area ------------------------ */

#configuration {
	margin: auto;
	margin-bottom: 10px;
	padding: 8px;
	width: 270px;
}

#configuration p {
	display: inline-block;
	margin: 0px;
	margin-right: 10px;
}

/* ------------------------ General Module ------------------------ */

.module {
	background-color: white;
	min-height: 100px;
	margin-bottom: 20px;

	padding: 7px;
	box-shadow: 3px 3px 15px grey;
	border-radius: 3px;
}

.mod_head * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

input[type="text"].integer {
	width: 80px;
}

.info {
	width: 25px;
}

.term_ico {
	width: 25px;
}
.term_ico:hover {
	cursor: pointer;
}
.out_term {
	margin: 0px;
	margin: auto;
	width: 90%;
	background-color: black;
	color: white;
	overflow: scroll;
	display: none;
	padding: 5px;
	text-align: left;
}

.rmv_module {
	display: block;
	margin-top: 15px;
}


/* ------------------------ Upload module ------------------------ */

#up_list {
	border: none;
}

#up_list ul {
	list-style-type: none;
}

.download {
	width: 20px;
}

.module .download {
	visibility: hidden;
	width: 0px;
}

#up_list .download {
	visibility: visible;
	width: 20px;
}




/* ------------------------ DTD module ------------------------ */

.illumina_reads {
	border: solid 1px;
	min-height: 20px;
	width: 80%;
	margin: auto;
	padding: 5px;
}

.illumina_read {
	margin-top: 0px;
	margin-bottom: 0px;
}




/* ------------------------ Autocomplete style ------------------------ */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }






/* ------------------------ Status obects aspect ------------------------ */

.spinner, .status, .term_ico {
	width:0px;
	visibility: hidden;
}

.running .spinner {
	visibility: visible;
	width: 30px;
}

/* See the status */
.running .status {
	color: #FFD700;
	font-weight: bold;
	visibility: visible;
	width: auto;
}
.waiting .status, .ready .status {
	color: blue;
	visibility: visible;
	width: auto;
}
.ended .status {
	color: green;
	visibility: visible;
	width: auto;
}
.ended .term_ico, .aborted .term_ico, .errors .term_ico {
	visibility: visible;
	width: 25px;
	margin-left: 15px;
}
.aborted .status, .errors .status {
	color: red;
	visibility: visible;
	width: auto;
}

/* Show the downoad links when the soft is ended */
.module.ended .download, .module.errors .download {
	visibility: visible;
	width: 20px;
}





/* ------------------------ File lists ---------------------------- */

.file_list, .input_list {
	height: 200px;
	overflow: auto;
	border: solid black 1px;
	margin-right: 50px;
	margin-left: 50px;
}

.file_list p, .input_list p {
	margin: 0px;
}


/* ----------------------- Add module ------------------------------*/

#module_managment {
	min-height: 100px;
	background-color: white;
	border: dashed 5px #d1d1d1;
}

#add_area {
	margin-bottom: 25px;
}

#add_module {
	margin-left: 10px;
	padding: 6px;
	border: solid grey 3px;
	background-color: white;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 21px;
	text-align: center;
	vertical-align: middle;
	color: #505050;
}

#add_module:hover {
	background-color: gray;
	color: white;
}


/* ----------------------- Run area ------------------------------*/
#warnings {
	color: red;
	margin-top: 10px;
}

#mail {
	margin-right: 10px;
	width: 250px;
}

#start_area {
	margin-top: 20px;
	margin-bottom: 150px;
}

